{% extends 'base_layout.html' %}
<div>
    
</div>
{% block content %}
<h5 class="text-black">Hola {{ user.username }} bienvenido a la aplicación</h5>
  
    <h1 class="title">El Mejor Sitio de Cervezas online!!!!</h1>
   <br>
   <br>
    
    <p class="subtitle"> <strong>Historia de la Cerveza</strong>
        
       <p>Origen de la cerveza</p>
        <p>La historia de la cerveza se remonta a varios milenios atrás, probablemente los prehistóricos ya elaboraban esta bebida, aunque los primeros registros que se tienen son de la antigua Mesopotamia. 
        Actualmente las tendencias en elaboración de cerveza están muy encaminadas hacia estilos más tradicionales elaborados de forma artesanal. 
        La bebida que puede considerarse cerveza es la que es producida con agua, malta de cereal y lúpulo. 
        La levadura se comenzó a agregar hace poco tiempo relativamente, cuando se descubrió. 
        Ya que hasta entonces no se conocía su existencia y se dejaba la cerveza fermentar a temperatura ambiente, 
        donde las levaduras salvajes hacían su trabajo y convertían el mosto en cerveza. </p>
    </p>
 
    


{% endblock content %}